.redred h1{
    font-size: 40px;
    text-align: center;
    background-color: rgb(18, 129, 129);
    color: rgb(117, 219, 86);
  }
  .AnswerMCQ h3{
      font-size: 25px;
      color: red;
  }
  .AnswerMCQ h4{
      font-size: 25px;
  }
  .card li{
      font-size: 25px;
  }
  /* cprogramming mcq screenshot css */
img{
width: 19%;
height: 30%;
}
/* mathe1 mcq screenshot css */
li h2 img{
    width: 40%;
    height: 20%;
}