header{
    background-color: rgb(255, 8, 152);
    color: rgb(12, 245, 51);
    height: 100%;
    width: 100%;
    margin-top: -0.5%;
}
.BcaHeading{
    font-family: 'Hahmlet', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Peralta', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Prata', serif;
    font-family: 'Special Elite', cursive;
    font-family: 'Ultra', serif;
    font-family: 'Underdog', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width: 100%;
    font-size: 40PX;
    color: aqua;
    margin-top: 0.1%;

}
.BcaHeading h2{
    text-align: center;
}
/* Math first , second , third , fourth all subjects css here */
.Content{
   background-color: black;
    color:rgb(248, 241, 244);
 }
.Content p{
    font-size: 20px;
    margin-left: 1%;
    margin-right: 1%;
    text-align: justify;
}
.Content h3{
    margin-left: 1%;
}
/* technical communication , c programming  pages css */
.technicalCommunication h4{
    font: 1.5em ;
    margin-left: 0.3%;
}
.technicalCommunication p{
  margin-left: 1%;
  margin-right: 1%;
  font-size: 20px;
  text-align: justify;

}
/* c programminga and computer and it page css */
.CProgramming , .ComputerAndIt , .technicalCommunication , .WebTech , .WBprograming , .Ds , .Dbms , .fedt , .CG{
    background-color: black;
    color:rgb(248, 241, 244);
}
.CProgramming , .ComputerAndIt , .WBprograming , .Ds , .Dbms , .fedt , .CG h4{
    font: 1.5em;
}
.CProgramming , .ComputerAndIt , .WBprograming , .Ds , .Dbms , .fedt , .CG p{
    /* margin-left: 0.8%; */
    font-size: 20px; 
    text-align: justify;
}
/* operating system subject css */
.operating_system{
    background-color: rgb(214, 214, 15);
    margin-top: -0.5%;
}
.operating_system h4{
    color: rgb(53, 53, 54);
    font-weight: 700;
}
.operating_system p{
    /* color: black; */
    color: rgb(255, 241, 241);
    font-size: 25px;
    margin-left: 1%;
    margin-right: 1%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    text-align: justify;
}
.CG p{
    margin-left: 1%;
    margin-right: 1%;
}
.CG li{
    margin-left: 1.5%;
}
/* Ecommerce sub page css */
.ECOM{
    background-color: rgb(146, 139, 71);
    margin-top: -0.5%;
}
.ECOM h4{
    color: rgb(39, 39, 44);
    font-weight: 700;
}
.ECOM p{
    color: rgb(231, 222, 222);
    font-size: 25px;
    margin-left: 1%;
    margin-right: 1%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    text-align: justify;
}
.ST{
    background-color: rgb(115, 194, 99);
    margin-top: -0.5%;
}
.ST h4{
    color: rgb(39, 39, 44);
    font-weight: 700;
}
.ST p{
    color: rgb(255, 251, 251);
    font-size: 25px;
    margin-left: 1%;
    margin-right: 1%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    text-align: justify;
}
.oldSyllabus img{
    width: 100%;
    height: 100%;
}

/* All practical file css Here from first sem to six sem */
.FirstPractical{
    color: red;
    background-color: black;
}
.frame{
    border: 1px solid red;
}
.card-header{
    background-color: rgb(217, 15, 123);
}


/* Below code for css of moving left right words */
  /* .Portfolio_logo h2{
     text-transform: unset;
     font-size: 1.6rem;
     animation: logoagepiche 2s linear infinite;
     animation-direction: alternate;
}
 @keyframes logoagepiche{
    from{padding-left: 70px;}
     to {padding-right: 70px;} */
